<html lang="en">
<head>
    <meta charset-"UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content-"width-Ddevice-width, initial-scale1.0">
    <title>TestProjectDimazana</title>
</head>
<body>
    {% extends 'layout.html' %}
    {%block header%}Test Store JC{%endblock%}
    {%block maincontent%}Main Content of INDEX HTML Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eligendi amet vel nam nulla iure minus? Sed cupiditate dolores facilis dicta consectetur tempore, quod aut quaerat eius corrupti laborum asperiores!{%endblock%}
</body>
</html>